ul {
  padding: 0;
}

li {
  display: flex;
  justify-content: left;
  align-items: center;
  list-style-type: none;
  padding-inline: 1rem;
}

li span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 1rem;
  border: 1px solid #777a92;
  border-radius: 100%;
  width: 1.2rem;
  height: 1.2rem;
}

li span:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 1rem;
  margin-inline-start: auto;
}

li span:last-child img {
  width: .8rem;
}

.main {
  position: absolute;
  top: 8rem;
  width: 100%;
  min-width: 320px;
  max-width: 800px;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  padding-inline: 1.5rem;
}

.standar-container {
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid hsl(233, 14%, 35%);
  background-color: hsl(235, 24%, 19%);
  font-size: .8rem;
  font-weight: bold;
}

.standar-container--completed {
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid hsl(233, 14%, 35%);
  background-color: hsl(235, 24%, 19%);
  font-size: .8rem;
}

.standar-container--completed span:first-child {
  background: rgb(87,221,255);
  background: linear-gradient(127deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%);
}

.standar-container--completed p {
  color: #494B60;
  text-decoration-line: line-through;
}

.standar-container:nth-child(1) {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}
.standar-container--completed:nth-child(1) {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.standar-container:last-child {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.noTodoMessage__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8rem;
  font-size: 2rem;
  text-align: center;
}


/* Skeleton loader */

.standar-container--loading {
  width: 100%;
  height: 10rem;
  border-radius: .5rem;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: preloadAnimation;
  animation-timing-function: linear;
  background: #23303d;
  background: linear-gradient(to right, hsl(235, 24%, 19%)  8%, hsl(233, 14%, 35%) 18%, hsl(235, 24%, 19%) 33%);
  margin-bottom: .1rem;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50px;
  background: transparent;
}

.loader-circle {
  width: 19px;
  height: 19px;
  background: red;
  border-radius: 100%;
}


.loader-bar {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: transparent;
}

.loader-bar::after {
  content: '';
  position: absolute;
  right: 0;
  height: 30px;
  width: 10%;
  background: hsl(235, 24%, 19%);
}

.loader-bar::before {
  content: '';
  position: absolute;
  left: 0;
  height: 30px;
  width: 10%;
  background: hsl(235, 24%, 19%);
}

.mask {
  width: 100%;
  height: 1.3rem;
  background: hsl(235, 24%, 19%);
}

.mask:last-child{
  position: absolute;
  bottom: -.6rem;
  min-width: 100%;
  height: .6rem;
  background: hsl(235, 24%, 19%);
}

@keyframes preloadAnimation{
  0%{
      background-position: -769px
  }
  100%{
      background-position: 769px
  }
}