ul {
  padding: 0;
}

li {
  display: flex;
  justify-content: left;
  align-items: center;
  list-style-type: none;
  padding-inline: 1rem;
}

li span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 1rem;
  border: 1px solid hsl(234, 11%, 52%);
  border-radius: 100%;
  width: 1.2rem;
  height: 1.2rem;
}

li span:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 1rem;
  margin-inline-start: auto;
}

li span:last-child img {
  width: .8rem;
}

.main {
  position: absolute;
  top: 8rem;
  width: 100%;
  min-width: 320px;
  max-width: 800px;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  padding-inline: 1.5rem;
}

.standar-container {
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid hsl(233, 14%, 35%);
  background-color: hsl(235, 24%, 19%);
  font-size: .8rem;
  font-weight: bold;
}

.standar-container--completed {
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid hsl(233, 14%, 35%);
  background-color: hsl(235, 24%, 19%);
  font-size: .8rem;
}

.standar-container--completed span:first-child {
  background: rgb(87,221,255);
  background: linear-gradient(127deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%);
}

.standar-container--completed p {
  color: #494B60;
  text-decoration-line: line-through;
}

.standar-container:nth-child(1) {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}
.standar-container--completed:nth-child(1) {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.standar-container:last-child {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}