.todoFilter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom: none;
}

.todoFilter input {
    display: none;
}

.todoFilter span:hover {
    cursor: pointer;
}

.todoFilter input:checked ~ span {
    color: hsl(220, 98%, 61%);
}